@use 'global/index' as g;

.about-img {
  position: relative;
  background-image: url(../img/about.jpg);
  width: 100%;
  height: 100px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  @include g.mq(tab) {
    height: 300px;
    margin-bottom: 100px;
  }
}

.about-wrap {
  text-align: center;
  margin-bottom: 80px;
}
.about-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
  padding: 30px 0 10px;
  display: inline-block;
  border-bottom: 3px solid #E03131;
  @include g.mq(tab) {
    font-size: 40px;
    padding: 40px 0 10px;
    border-bottom: 5px solid #E03131;
  }
}

.text {
  max-width: 1000px;
  @include g.mq(tab) {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
}
.about-text {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  line-height: 29px;
  margin-bottom: 32px;
}

a.btn {
  display: inline-block;
  width: 180px;
  height: 50px;
  margin:  40px auto;
  line-height: 50px;
  position: relative;
}

a.btn::before,
a.btn::after {
  position: absolute;
  content: '';
  background-color: #E03131;
  transition: all 0.3s ease;
  width: 23%;
  height: 2px;
}

a.btn:hover::before,
a.btn:hover::after{
  width: 100%;
}

a.btn::before {
  top: 0;
  left: 0;
}

a.btn::after {
  right: 0;
  bottom: 0;
}

span::before,
span::after {
  position: absolute;
  content: '';
  background-color: #E03131;
  transition: all 0.3s ease;
  width: 2px;
  height: 50%;
}

span:hover::before,
span:hover::after {
  height: 100%;
}

span::before {
  top: 0;
  left: 0;
}

span::after {
  right: 0;
  bottom: 0;
}
