@use 'global/index' as g;

.menu-img {
  position: relative;
  background-image: url(img/menu.jpg);
  width: 100%;
  height: 100px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  @include g.mq(tab) {
    height: 300px;
    margin-bottom: 40px;
  }
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 32px;
  color: aliceblue;
  @include g.mq(tab) {
    font-size: 72px;
  }
}

.price {
  width: 95%;
  max-width: 950px;
  margin: 0 auto 80px;
  @include g.mq(tab) {
    display: flex;
    justify-content: center;
    position: relative;
  }
} 
.price::after {
  @include g.mq(tab) {
    position: absolute;
    content: '';
    height: 420px;
    width: 1px;
    background-color: #808080;
    display: inline-block;
    top: 120px;
  }
}

.price-coffee,
.price-food_other {
  margin: 0 auto;
  text-align: center;
  @include g.mq(tab) {
    width: 45%;
  }
}

.food {
  @include g.mq(tab) {
    margin-bottom: 30px;
  }
}



.m-title {
  font-size: 24px;
  margin-bottom: 15px;
  padding: 30px 0 10px;
  display: inline-block;
  border-bottom: 3px solid rgb(245, 85, 85);
  @include g.mq(tab) {
    font-size: 40px;
    padding: 40px 0 10px;
    border-bottom: 5px solid rgb(245, 85, 85);
  }
}
dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  dt {
    flex-basis: 87%;
    padding: 15px 0;
    border-bottom: 1px dotted #808080;
    text-align: left;
    font-size: 14px;
  }

  dd {
    flex-basis: 13%;;
    padding: 15px 0;
    text-align: right;
    font-size: 14px;
  }
}